@charset "utf-8";
/* CSS Document */


#terms_in .wrap .ttl2{
	margin: 0 0 40px 0;
}	
#terms_in .wrap .ttl2 h2{
	color: #fff;
	background: #67C945;
	font-size: 30px;
	font-weight: bold;
	padding: 5px;
	text-align: center;
}	
#terms_in .wrap .content{
	font-size: 14px;
	line-height: 1.6;
}
#terms_in .wrap .content .txt_area{
	margin: 0 0 30px 0;
}
#terms_in .wrap .content .txt_area p{
	margin: 0;
}
#terms_in .wrap .content .txt_area p.txt_right{
	text-align: right;
}
#terms_in .wrap .content .txt_area dl{
	display: flex;
}
#terms_in .wrap .content .txt_area dl dt{
	
}
#terms_in .wrap .content .txt_area dl dd{
	
}
	
	
	
	
@media screen and (max-width:1340px){
	#terms_in{
		padding: 0 20px;
    	box-sizing: border-box;
	}
}
	
	
	
	
@media screen and (max-width:950px){
	#terms_in .wrap .ttl2 {
		margin: 0 0 30px 0;
	}
	#terms_in .wrap .ttl2 h2{
		font-size: 24px;
	}
	#terms_in .wrap .content {
		font-size: 14px;
		line-height: 1.6;
		margin: 0 0 150px 0;
	}
	#terms_in .wrap .content .txt_area {
		margin: 0 0 30px 0;
	}
}
	
	
	
	
@media screen and (max-width:760px){
	#terms_in .wrap .ttl2 h2{
		font-size: 20px;
	}
	#terms_in .wrap .content {
		font-size: 14px;
	}
}
	
	
	
	
@media screen and (max-width:600px){
	#terms_in{
		padding: 0 10px;
	}
	#terms_in .wrap .ttl2 {
		margin: 0 0 20px 0;
	}
	#terms_in .wrap .ttl2 h2 {
		color: #fff;
		background: #67C945;
		font-size: 18px;
		font-weight: bold;
		padding: 5px;
		text-align: center;
	}
	#terms_in .wrap .content {
		font-size: 14px;
		line-height: 1.8;
		margin: 0 0 50px 0;
	}
	#terms_in .wrap .content .txt_area{
		margin: 0 0 20px 0;
	}
}
	
